<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/api/companies/<%=company._id%>/stocks/<%=stock._id%>?_method=PUT" method="post">
        <input type="text" name="name" value="<%=stock.name%>"><br>
        <input type="number" name="totalUnits" value="<%=stock.totalUnits%>"><br>
        <input type="number" name="unitsSold" value="<%=stock.unitsSold%>"><br>
        <button>Edit</button>
    </form>
</body>
</html>